@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}

<div class="container d-flex flex-row mb-3" id="menuChart">
    <div class="card m-4 p-4" style="width:500px;max-width:700px">
        <div class="row g-0">
            <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
    <div class="card m-4 p-4" style="width:500px;max-width:700px">
        <div class="row g-0">
            <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
</div>


<div class="container row row-cols-2 row-cols-lg-5 g-2 g-lg-3" id="menu">
    <!-- Pokemon -->
    <div class="card mb-3 mr-3" style="max-width: 400px; width:auto;">
        <div class="row g-0 m-3">
            <div class="col m-0 p-0">
                <img src="https://cdn.icon-icons.com/icons2/851/PNG/512/Pokedex_tool_icon-icons.com_67529.png" class="img-thumbnail border-0" alt="..." style="max-width: 50px;">
            </div>
            <div class="col m-0 p-0 d-flex flex-column" style="max-width:100px">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Latihan" asp-action="Pokemon">Open</a>
            </div>
        </div>
        <div class="row g-0 m-0">
            <div class="col m-0 p-0">
                <div class="card-body pt-0">
                    <h5 class="card-title">Pokedex</h5>
                    <p class="card-text fs-6">Tugas Pokemon API</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Table Employee -->
    <div class="card mb-3" style="max-width: 400px; width:auto;">
        <div class="row g-0 m-3">
            <div class="col m-0 p-0">
                <img src="https://aista.com/images/crud.jpeg" class="img-thumbnail border-0" alt="..." style="max-width: 100px;">
            </div>
            <div class="col m-0 p-0 d-flex flex-column" style="max-width:100px">
                <a class="btn btn-primary" role="button" asp-area="" asp-controller="Latihan" asp-action="TableEmployee">Open</a>
            </div>
        </div>
        <div class="row g-0 m-0">
            <div class="col m-0 p-0">
                <div class="card-body pt-0">
                    <h5 class="card-title">CRUD</h5>
                    <p class="card-text fs-6">Tugas Tabel Employee</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- grid -->
<div class="container-fluid text-center border border-primary m-auto" id="container">
    <div class="row m-10" id="row1">
        <div class="col border border-primary" id="col1">

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).



        </div>
        <div class="col" id="col2">
            <div class="row m-0" id="row2">
                <div class="col border border-primary" id="col3">

                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                </div>
                </div>
            <div class="row mt-20px mb-0 mx-0" id="row3">
                <div class="col border border-primary" id="col4">

                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                </div>
        </div>
    </div>
</div>
<div class="m-3">
     <button type="button" class="btn btn-primary" id="btn1">Blue</button>
     <button type="button" class="btn btn-danger" id="btn2">Red</button>
     <button type="button" class="btn btn-success" id="btn3">Green</button>
</div>

    <p class="h2 my-5 text-center">List Starwars</p>

<div>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Height</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
</div>


    


